# Dependencias
node_modules/

# Vercel
.vercel/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores / IDE
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local
.vercel
